<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.satchain.dao.ConstellationinfoMapper" >
  <resultMap id="BaseResultMap" type="com.satchain.bean.model.Constellationinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="星座编号" property="constellationUuid" jdbcType="VARCHAR" />
    <result column="星座名称" property="constellationName" jdbcType="VARCHAR" />
    <result column="星座类型" property="constellationType" jdbcType="TINYINT" />
    <result column="业主名" property="userName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, 星座编号, 星座名称, 星座类型, 业主名
  </sql>

  <select id="selectById" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from 星座信息表
    where 星座编号 = #{constellationId}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from 星座信息表
  </select>
  <delete id="deleteById" >
    delete from 星座信息表
    <where>
      <if test="constellationUuid != null" >
        and 星座编号 = #{constellationUuid}
      </if>
      <if test="constellationName != null" >
        and 星座名称 = #{constellationName},
      </if>
    </where>
  </delete>

  <insert id="insert" parameterType="com.satchain.bean.model.Constellationinfo" >
    insert into 星座信息表 (id, 星座编号, 星座名称,
      星座类型, 业主名)
    values (#{id}, #{constellationUuid}, #{constellationName},
      #{constellationType}, #{userName})
  </insert>
  <insert id="insertSelective" parameterType="com.satchain.bean.model.Constellationinfo" >
    insert into 星座信息表
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="constellationUuid != null" >
        星座编号,
      </if>
      <if test="constellationName != null" >
        星座名称,
      </if>
      <if test="constellationType != null" >
        星座类型,
      </if>
      <if test="userName != null" >
        业主名,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="constellationUuid != null" >
        #{constellationUuid},
      </if>
      <if test="constellationName != null" >
        #{constellationName},
      </if>
      <if test="constellationType != null" >
        #{constellationType},
      </if>
      <if test="userName != null" >
        #{userName},
      </if>
    </trim>
  </insert>

  <update id="updateByIdSelective" parameterType="com.satchain.bean.model.Constellationinfo" >
    update 星座信息表
    <set >
      <if test="constellationUuid != null" >
        星座编号 = #{constellationUuid},
      </if>
      <if test="constellationName != null" >
        星座名称 = #{constellationName},
      </if>
      <if test="constellationType != null" >
        星座类型 = #{constellationType},
      </if>
      <if test="userName != null" >
        业主名 = #{userName},
      </if>
    </set>
    where 星座编号 = #{constellationUuid}
  </update>
  <update id="updateById" parameterType="com.satchain.bean.model.Constellationinfo" >
    update 星座信息表
    set 星座编号 = #{constellationUuid},
      星座名称 = #{constellationName},
      星座类型 = #{constellationType},
      业主名 = #{userName}
    where 星座编号 = #{constellationUuid}
  </update>
</mapper>