<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.satchain.dao.ContentinfoMapper" >
  <resultMap id="BaseResultMap" type="com.satchain.bean.model.Contentinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="任务编号" property="taskUuid" jdbcType="BIGINT" />
    <result column="任务内容" property="taskUuid" jdbcType="BLOB" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, 任务编号
  </sql>
  <sql id="Blob_Column_List" >
    任务内容
  </sql>

  <select id="selectByTaskId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from 遥控内容表
    where 任务编号 = #{taskUuid}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from 遥控内容表
    where id = #{id}
  </delete>
  <insert id="insert" parameterType="com.satchain.bean.model.Contentinfo" >
    insert into 遥控内容表 (id, 任务编号, 任务内容
      )
    values (#{id}, #{taskUuid}, #{taskContent}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.satchain.bean.model.Contentinfo" >
    insert into 遥控内容表
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="taskUuid != null" >
        任务编号,
      </if>
      <if test="taskContent != null" >
        任务内容,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="taskUuid != null" >
        #{taskUuid},
      </if>
      <if test="taskContent != null" >
        #{taskContent},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.satchain.bean.model.Contentinfo" >
    update 遥控内容表
    <set >
      <if test="taskUuid != null" >
        任务编号 = #{taskUuid},
      </if>
      <if test="taskContent != null" >
        任务内容 = #{taskContent},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.satchain.bean.model.Contentinfo" >
    update 遥控内容表
    set 任务编号 = #{taskUuid},
      任务内容 = #{taskContent}
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.satchain.bean.model.Contentinfo" >
    update 遥控内容表
    set 任务编号 = #{taskUuid}
    where id = #{id}
  </update>
</mapper>