<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.itheima.mapper.DeviceRelationMapper" >
  <resultMap id="BaseResultMap" type="cn.itheima.pojo.DeviceRelation" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="device_farther_name" property="deviceFartherName" jdbcType="VARCHAR" />
    <result column="moon_num" property="moonNum" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, device_name, device_farther_name, moon_num
  </sql>

  <select id="selectBySatelliteId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device_relation
    where satelliteId = #{satelliteId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from device_relation
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="cn.itheima.pojo.DeviceRelation" >
    insert into device_relation (id, device_name, device_farther_name, 
      moon_num)
    values (#{id}, #{deviceName}, #{deviceFartherName},
      #{moonNum})
  </insert>
  <insert id="insertSelective" parameterType="cn.itheima.pojo.DeviceRelation" >
    insert into device_relation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="deviceFartherName != null" >
        device_farther_name,
      </if>
      <if test="moonNum != null" >
        moon_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="deviceName != null" >
        #{deviceName},
      </if>
      <if test="deviceFartherName != null" >
        #{deviceFartherName},
      </if>
      <if test="moonNum != null" >
        #{moonNum},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="cn.itheima.pojo.DeviceRelation" >
    update device_relation
    <set >
      <if test="deviceName != null" >
        device_name = #{deviceName},
      </if>
      <if test="deviceFartherName != null" >
        device_farther_name = #{deviceFartherName},
      </if>
      <if test="moonNum != null" >
        moon_num = #{moonNum},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.itheima.pojo.DeviceRelation" >
    update device_relation
    set device_name = #{deviceName},
      device_farther_name = #{deviceFartherName},
      moon_num = #{moonNum}
    where id = #{id}
  </update>
</mapper>