<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.satchain.dao.FieldDefineMapper" >
  <resultMap id="BaseResultMap" type="com.satchain.bean.model.FieldDefine" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="field_name" property="fieldName" jdbcType="VARCHAR" />
    <result column="data_type" property="dataType" jdbcType="TINYINT" />
    <result column="min_data" property="minData" jdbcType="DOUBLE" />
    <result column="max_data" property="maxData" jdbcType="DOUBLE" />
    <result column="unit" property="unit" jdbcType="VARCHAR" />
    <result column="show_lable" property="showLable" jdbcType="TINYINT" />
    <result column="device_name" property="deviceName" jdbcType="VARCHAR" />
    <result column="moon_num" property="moonNum" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, field_name, data_type, min_data, max_data, unit, show_lable, device_name, moon_num
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from field_define
    <where>
      <if test="satelliteId != null" >
        and moon_num = #{satelliteId}
      </if>
      <if test="deviceName != null" >
        and device_name = #{deviceName}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from field_define
    where id = #{id}
  </delete>

  <insert id="insert" parameterType="com.satchain.bean.model.FieldDefine" >
    insert into field_define (id, field_name, data_type, 
      min_data, max_data, unit, 
      show_lable, device_name, moon_num
      )
    values (#{id}, #{fieldName}, #{dataType},
      #{minData}, #{maxData}, #{unit},
      #{showLable}, #{deviceName}, #{moonNum}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.satchain.bean.model.FieldDefine" >
    insert into field_define
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fieldName != null" >
        field_name,
      </if>
      <if test="dataType != null" >
        data_type,
      </if>
      <if test="minData != null" >
        min_data,
      </if>
      <if test="maxData != null" >
        max_data,
      </if>
      <if test="unit != null" >
        unit,
      </if>
      <if test="showLable != null" >
        show_lable,
      </if>
      <if test="deviceName != null" >
        device_name,
      </if>
      <if test="moonNum != null" >
        moon_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="fieldName != null" >
        #{fieldName},
      </if>
      <if test="dataType != null" >
        #{dataType},
      </if>
      <if test="minData != null" >
        #{minData},
      </if>
      <if test="maxData != null" >
        #{maxData},
      </if>
      <if test="unit != null" >
        #{unit},
      </if>
      <if test="showLable != null" >
        #{showLable},
      </if>
      <if test="deviceName != null" >
        #{deviceName},
      </if>
      <if test="moonNum != null" >
        #{moonNum},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.satchain.bean.model.FieldDefine" >
    update field_define
    <set >
      <if test="fieldName != null" >
        field_name = #{fieldName},
      </if>
      <if test="dataType != null" >
        data_type = #{dataType},
      </if>
      <if test="minData != null" >
        min_data = #{minData},
      </if>
      <if test="maxData != null" >
        max_data = #{maxData},
      </if>
      <if test="unit != null" >
        unit = #{unit},
      </if>
      <if test="showLable != null" >
        show_lable = #{showLable},
      </if>
      <if test="deviceName != null" >
        device_name = #{deviceName},
      </if>
      <if test="moonNum != null" >
        moon_num = #{moonNum},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.satchain.bean.model.FieldDefine" >
    update field_define
    set field_name = #{fieldName},
      data_type = #{dataType},
      min_data = #{minData},
      max_data = #{maxData},
      unit = #{unit},
      show_lable = #{showLable},
      device_name = #{deviceName},
      moon_num = #{moonNum}
    where id = #{id}
  </update>
</mapper>