<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.satchain.dao.MonitorinfoMapper" >
  <resultMap id="BaseResultMap" type="com.satchain.bean.model.Monitorinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="监控器位置" property="monitorPosition" jdbcType="VARCHAR" />
    <result column="监控器编号" property="monitorUuid" jdbcType="VARCHAR" />
    <result column="监控器连接地址" property="monitorIp" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, 监控器位置, 监控器编号, 监控器连接地址
  </sql>

  <select id="selectById" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from 监控信息表
    <where>
      <if test="monitorUuid != null and monitorUuid != ''" >
        and 监控器编号 = #{monitorId}
      </if>
      <if test="monitorPosition != null and monitorStation!=''" >
        and 监控器位置 = #{monitorStation}
      </if>
    </where>
  </select>
  <delete id="deleteById" >
    delete from 监控信息表
    where 监控器编号 = #{monitorId}
  </delete>

  <insert id="insert" parameterType="com.satchain.bean.model.Monitorinfo" >
    insert into 监控信息表 (id, 监控器位置, 监控器编号,
      监控器连接地址)
    values (#{id}, #{monitorPosition}, #{monitorUuid},
      #{monitorIp})
  </insert>

  <update id="updateByIdSelective" >
    update 监控信息表
    <set >
      <if test="monitorStation != null" >
        监控器位置 = #{monitorStation},
      </if>
      <if test="monitorId != null" >
        监控器编号 = #{monitorId},
      </if>
      <if test="monitorUrl != null" >
        监控器连接地址 = #{monitorUrl},
      </if>
    </set>
    where 监控器编号 = #{monitorId}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.satchain.bean.model.Monitorinfo" >
    update 监控信息表
    set 监控器位置 = #{monitorPosition},
      监控器编号 = #{monitorUuid},
      监控器连接地址 = #{monitorIp}
    where id = #{id}
  </update>
</mapper>