<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xc.satchain.mappers/TaskinfoMapper.xml" >
  <resultMap id="BaseResultMap" type="com.satchain.bean.model.Taskinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="任务编号" property="taskUuid" jdbcType="MEDIUMINT" />
    <result column="地面站编号" property="earthUuid" jdbcType="VARCHAR" />
    <result column="卫星编号" property="satelliteUuid" jdbcType="VARCHAR" />
    <result column="任务类型" property="taskType" jdbcType="TINYINT" />
    <result column="任务发布时间" property="taskReleaseTime" jdbcType="DATETIME" />
    <result column="计划开始时间" property="planStartTime" jdbcType="DATETIME" />
    <result column="计划截止时间" property="planEndTime" jdbcType="DATETIME" />
    <result column="任务开始时间" property="taskStartTime" jdbcType="DATETIME" />
    <result column="任务结束时间" property="taskEndTime" jdbcType="DATETIME" />
    <result column="分发标志" property="distributionFlag" jdbcType="TINYINT" />
    <result column="任务标志" property="taskFlag" jdbcType="BIT" />
    <result column="ACK" property="ack" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, 任务编号, 地面站编号, 卫星编号, 任务类型, 任务发布时间, 计划开始时间,
    计划截止时间, 任务开始时间, 任务结束时间, 分发标志, 任务标志, ACK
  </sql>

  <sql id="任务分配表_where">
    <where>

      <if test="satelliteid != null and satelliteid != ''">
        and 卫星编号 in
        <foreach item="item" collection="satelliteid" separator="," open="(" close=")" index="">
          #{item}
        </foreach>
      </if>
      <if test="tasktype != null and tasktype != ''">
        and 任务类型=#{tasktype}
      </if>
      <if test="distrisign != null and distrisign != ''">
        and 分发标志=#{distrisign}
      </if>
      <if test="starttime != null and starttime != ''">
        and 计划开始时间 >= #{starttime}
      </if>
      <if test="stoptime != null and stoptime != ''">
        and 计划开始时间 &lt;= #{stoptime}
      </if>
    </where>
  </sql>
  <sql id="任务分配表_where_contentInfo">
    <where>
      <if test="constellationid != null and constellationid != ''">
        and
      </if>
      <if test="satelliteid != null and satelliteid != ''">
        and 卫星编号=#{satelliteid}
      </if>
      <if test="planstarttime != null and planstarttime != ''">
        and 任务开始时间 >= #{planstarttime}
      </if>
      <if test="planstoptime != null and planstoptime != ''">
        and #{planstoptime} >= 任务开始时间
      </if>
    </where>
  </sql>

  <select id="queryTaskInfoByTaskBO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from 任务分配表
    <include refid="任务分配表_where"/>
  </select>
  <select id="selectByTaskId" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from 任务分配表
    where 任务编号 = #{taskid}
  </select>
  <select id="queryBySatelliteId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from 任务分配表
    where 卫星编号 = #{satelliteid}
  </select>

  <select id="queryTaskInfoByidAndTime" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from 任务分配表
    <where>
      <if test="satelliteid != null and satelliteid != ''">
        and 卫星编号=#{satelliteid}
      </if>
      <if test="starttime != null and starttime != ''">
        and 计划开始时间 >= #{starttime}
      </if>
      <if test="stoptime != null and stoptime != ''">
        and 计划开始时间 &lt;= #{stoptime}
      </if>
    </where>
  </select>

  <insert id="insert" parameterType="BaseResultMap">
    insert into 任务分配表 (id, 任务编号, 地面站编号,
      卫星编号, 任务类型, 任务发布时间,
      计划开始时间, 计划截止时间, 任务开始时间,
      任务结束时间, 分发标志, 任务标志,
      ACK)
    values (#{id}, #{taskUuid}, #{earthUuid},
      #{satelliteUuid}, #{taskType}, #{taskReleaseTime},
      #{planStartTime}, #{planEndTime}, #{taskStartTime},
      #{taskEndTime}, #{distributionFlag}, #{taskFlag},
      #{ack})
  </insert>

  <insert id="insertReturn" useGeneratedKeys="true" keyProperty="taskUuid">
    insert into 任务分配表 (id, 任务编号, 地面站编号,
      卫星编号, 任务类型, 任务发布时间,
      计划开始时间, 计划截止时间, 任务开始时间,
      任务结束时间, 分发标志, 任务标志,
      ACK)
    values (#{id}, #{taskUuid}, #{earthUuid},
      #{satelliteUuid}, #{taskType}, #{taskReleaseTime},
      #{planStartTime}, #{planEndTime}, #{taskStartTime},
      #{taskEndTime}, #{distributionFlag}, #{taskFlag},
      #{ack})
  </insert>

  <delete id="deleteByTaskid">
    delete from 任务分配表
    <where>
      and 任务编号=#{taskid}
      <if test="distrisign != null and distrisign != ''">
        and 分发标志=#{distrisign}
      </if>
    </where>
  </delete>

  <update id="updateByTaskId" parameterType="cn.itheima.pojo.Taskinfo" >
    update 任务分配表
    set
      <if test="taskUuid != null" >
        任务编号 = #{taskUuid},
      </if>
      <if test="earthUuid != null" >
        地面站编号 = #{earthUuid},
      </if>
      <if test="satelliteUuid != null" >
        卫星编号 = #{satelliteUuid},
      </if>
      <if test="taskReleaseTime != null" >
        任务发布时间 = #{taskReleaseTime},
      </if>
      <if test="planStartTime != null" >
        计划开始时间 = #{planStartTime},
      </if>
      <if test="planEndTime != null" >
        计划截止时间 = #{planEndTime},
      </if>
      <if test="taskStartTime != null" >
        任务开始时间 = #{taskStartTime},
      </if>
      <if test="taskEndTime != null" >
        任务结束时间 = #{taskEndTime},
      </if>
      <if test="distributionFlag != null" >
        分发标志 = #{distributionFlag},
      </if>
      <if test="taskFlag != null" >
        任务标志 = #{taskFlag},
      </if>
      <if test="ack != null" >
        ACK = #{ack},
      </if>
    where 任务编号 = #{taskUuid}
  </update>
  <update id="updateFlagByTaskId">
    update 任务分配表
    set 任务标志 = #{datadistrisign}
    where 任务编号 = #{taskid}
  </update>

</mapper>