<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.satchain.dao.UserinfoMapper" >
  <resultMap id="BaseResultMap" type="com.satchain.bean.model.Userinfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="用户名" property="userName" jdbcType="VARCHAR" />
    <result column="密码" property="password" jdbcType="VARCHAR" />
    <result column="权限" property="authority" jdbcType="TINYINT" />
    <result column="创建时间" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, 用户名, 密码, 权限, 创建时间
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.satchain.bean.model.Userinfo" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from 用户信息表
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="queryUserInfoByName" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from 用户信息表
    <where>
      <if test="username != null and username != ''">
        and 用户名 = #{username}
      </if>
    </where>
  </select>
  <delete id="deleteByUserName" >
    delete from 用户信息表
    where 用户名 = #{username}
  </delete>

  <insert id="insert" >
    insert into 用户信息表 (id, 用户名, 密码,
      权限, 创建时间)
    values (#{id}, #{username}, #{password},
      #{permission}, #{createTime})
  </insert>
  <insert id="insertSelective" parameterType="com.satchain.bean.model.Userinfo" >
    insert into 用户信息表
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        用户名,
      </if>
      <if test="password != null" >
        密码,
      </if>
      <if test="authority != null" >
        权限,
      </if>
      <if test="createTime != null" >
        创建时间,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="userName != null" >
        #{userName},
      </if>
      <if test="password != null" >
        #{password},
      </if>
      <if test="authority != null" >
        #{authority},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.satchain.bean.model.Userinfo" >
    update 用户信息表
    <set >
      <if test="userName != null" >
        用户名 = #{userName},
      </if>
      <if test="password != null" >
        密码 = #{password},
      </if>
      <if test="authority != null" >
        权限 = #{authority},
      </if>
      <if test="createTime != null" >
        创建时间 = #{createTime},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateByUserName" parameterType="com.satchain.bean.model.Userinfo" >
    update 用户信息表
    set 用户名 = #{username},
      密码 = #{password},

      权限 = #{permission}
    where 用户名 = #{username}
  </update>
</mapper>